.speed-main-div {
    display: flex;
    flex-direction: column;
}

.speed-counter {
    background-color: darkgreen;
    color: aliceblue;
    width: fit-content;
    padding: 0.5em;
}

.speed-button, .speed-textarea {
    width: 100%;
    max-width: 60em;
    padding: 1em;
}

.speed-textarea {
    min-height: 9em;
    &:focus {
        outline: 1px solid rgb(0, 255, 0);
        border: 2px solid green;
        border-radius: 4px;
        background-color: rgb(171, 240, 198);
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }
}

.speed-button {
    &:active {
        background-color: lightcoral;
    }
    &:focus {
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }
}

.speed-h2 {
    font-size: 2em;
}
