:root {
    background-color: #4a412a;
}

a {
    color: rgb(146, 146, 146);

    &:hover {
        color: #110f09;
    }
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

input {
    background-color: #4b4433;
}

ol {
    list-style-type: decimal;
}

#app {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#menu {
    margin: 2em;
    width: 20%;
}

.menu-element {
    background-color: #706443;
}

#exercises {
    margin: 2em;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.title-in-decimal-list {
    display: inline;
}

.li-article {
    cursor: pointer;
}
